body {
  background: rgb(178, 196, 196);
}
p,
label {
  font: 25px "Fira Sans", sans-serif;
}
u {
  color: darkorchid;
}
input {
  margin: 0.8rem;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 50%;
  /* border: groove; */
  margin-left: 30rem;
  /* border-width: 0.8em; */
  background-color: rgb(165, 185, 185);
  box-shadow: -1px 1px 25px -5px rgb(255, 253, 253);
}

.delt {
  display: flex;
  justify-content: center;
  width: 100%;
}

.bord {
  border: groove;
  border-radius: 50%;
}

.bord2 {
  border: groove;
  margin: 0.5rem;
}

.ajouterTechno {
  display: flex;
  flex-direction: column;
}

.compGlobal {
  display: flex;
}

.techno {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fontTechno {
  font: 15px "Fira Sans", sans-serif;
}
