body {
  margin: 0;
}

ul {
  margin: 0;
}

nav {
  background: #8c1b11;
  height: 5.5rem;
  border-bottom: 5px solid #222126;
  border-top: 5px solid #222126;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: content-box;
  margin-bottom: 3rem !important;
}

nav ul {
  display: flex;
  list-style: none;
  /* justify-content: flex-end; */
  justify-content: space-around;
  padding: 0;
  width: 100%;
}

nav ul li {
  margin-top: 1.6rem;
}

nav ul li a {
  text-decoration: none;
  color: #222126;
  font-family: Aladin;
  font-size: 1.8rem;
  padding: 15px;
}

nav ul li a:hover {
  color: #8c1b11 !important;
  background: #222126;
  border-radius: 20px;
}

.icon {
  width: 4rem;
  height: 4rem;
  display: none;
}

/* h1 {
  font-family: Amatic SC;
  font-weight: 900;
  color: #8c1b11;
  font-size: 6.5vw;
  align-self: center;
  text-align: center;
} */

#logout {
  background-color: black;
  color: white;
}
