body {
  position: relative;
}

/* nav bar*/

.navbar-default {
  border-color: transparent;
  background-color: #222;
}

.navbar-default .navbar-brand {
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  color: #1ee2e7;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active {
  color: #fec503;
}

.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}

.navbar-default .navbar-toggle {
  border-color: #1ee2e7;
  background-color: #1ee2e7;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1ee2e7;
}

.navbar-default .nav li a {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  outline: 0;
  color: #1ee2e7;
}

.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: #fff;
  background-color: #1ee2e7;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #17d0d5;
}
/* end  nav bar*/

/*   nav bar  version mobile*/

@media (min-width: 7350px) {
  .navbar-default {
    padding: 25px 0;
    border: 0;
    background-color: transparent;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }

  .navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .navbar-default .navbar-nav > .active > a {
    border-radius: 3px;
  }

  .navbar-default.navbar-shrink {
    padding: 1px 0;
    background-color: #222;
  }

  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
/*  end nav bar  version mobile*/

/* header */

header {
  text-align: center;
  color: #fff;
  background-attachment: fixed;
  background-image: url("https://images.unsplash.com/photo-1557264322-b44d383a2906?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-position: center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header .intro-text .intro-heading {
  width: 350px;
  position: relative;
  top: 30%;
  left: 50%;
  left: 75rem;
  top: -14rem;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  color: #92a5de;

  text-shadow: 0px 0px 0 #ffffff, 1px 1px 0 #ffffff, 2px 2px 0 #ffffff,
    3px 3px 0 #6f82bb, 4px 4px 0 #677ab3, 5px 5px 0 #5e71aa, 6px 6px 0 #5568a1,
    7px 7px 0 #4c5f98, 8px 8px 0 #445790, 9px 9px 0 #3b4e87, 10px 10px 0 #32457e,
    11px 11px 0 #2a3d76, 12px 12px 0 #21346d, 13px 13px 0 #182b64,
    14px 14px 0 #0f225b, 15px 15px 0 #071a53, 16px 16px 0 #02114a,
    17px 17px 0 #0b0841, 18px 18px 0 #130039, 19px 19px 0 #1c0930,
    20px 20px 0 #251227, 21px 21px 20px rgba(0, 0, 0, 1),
    21px 21px 1px rgba(0, 0, 0, 0.5), 0px 0px 20px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
/*  end header*/

/* ползунок для перемотки с header вниз*/

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.arrow {
  cursor: pointer;
  position: relative;
  animation-name: jump;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes jump {
  0% {
    top: 0px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}
/*end*/

@media (min-width: 768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }

  header .intro-text .intro-heading {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: math;
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
  }
}

/*SEctions 1-3*/

#section1 {
  background-attachment: fixed;
  padding-top: 50px;
  /* height: 1200px; */
  color: rgb(255, 255, 255);
  background: linear-gradient(to right, rgb(101, 153, 153), rgb(140 70 130));
  border-top-left-radius: 3px;
}
#sectioncard {
  background-attachment: fixed;
  padding-top: 50px;
  color: rgb(7, 7, 7);
  background: linear-gradient(to right, rgb(101, 153, 153), rgb(140 70 130));
}

#section2 {
  background-attachment: fixed;
  padding-top: 50px;
  color: #fff;
  /* background: linear-gradient(to right, rgb(140 70 130), rgb(101, 153, 153)); */
  background-color: #1b1f23;
}

#section3 {
  background-attachment: fixed;
  padding-top: 50px;
  color: #fff;
  background: linear-gradient(to right, rgb(101, 153, 153), rgb(140 60 130));
}
/* End SEctions 1-3*/

.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 1rem 1rem;
}

.container-fluid {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: flex-start;
  align-content: flex-start;
}

.container-fluidd {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 4rem;
  color: #000000;

  font-family: "Bungee", cursive;
}

h1 span {
  color: #b3b04f;
}

img {
  height: 325px;
  width: 35rem;
  vertical-align: middle;
  object-fit: cover;
}

.btn {
  color: #17d0d5;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards_item {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

.fade.in {
  opacity: 1;
  display: table !important;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: -1px 1px 25px -5px rgb(0, 217, 255);
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #2d366a 35%, #436a7c 95%);
}

.card_title {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

/* card img*/

.imgitem {
}

button.card_btn:active {
  color: white;
}
/*end card*/

/*Window Mondal*/

#myModal {
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;

  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/*CENTRE MODAL*/
.modal-dialog {
  margin-right: 0;
  margin-left: 50%;
}

.modal-header {
  height: 30px;
  padding: 20px;
  background: linear-gradient(to bottom left, #2d366a 35%, #436a7c 95%);
  color: white;
}

.modal-title {
  margin-top: -10px;
  font-size: 16px;
}

.modal-header .close {
  margin-top: -10px;
  color: #fff;
}

.modal-body {
  color: #000;
  padding: 5px 35px 20px;
  background-color: #cddc39;
}

.modal-body h3 {
  text-align: center;
}

.modal-body p {
  padding-top: 10px;
  font-size: 1.3em;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  background: linear-gradient(to bottom left, #2d366a 35%, #436a7c 95%);
}

/* modam1 img*/

.centrer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 224px;
}

/*размер модального окна*/

.classA {
  width: 50vw;
}

/* End Modal*/
/*конец размер модального окна*/

h2 {
  color: #000;
  text-align: center;
  font-size: 2em;
}

/*Radio*/
/* часть кликабельной части*/

.warpper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Tabs*/
/* часть кликабельной части*/

.tab {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 2px;
  background: #000;
  display: inline-block;
  color: #fff;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}

/*Panels*/
/* часть панели с текстом*/

.panels {
  /* background: linear-gradient(to right, rgb(101, 153, 153), rgb(140 70 130)); */
  background-color: #1b1f23;
  box-shadow: 0 2rem 2rem #00000080;
  width: 100%;
  max-width: 520px;
  border-radius: 3px;
  overflow: hidden;
  padding: 20px;
  box-shadow: 0px 12px 25px -8px rgb(255, 255, 255);
}
.panel {
  display: none;
  animation: fadein 0.8s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.panel-title {
  font-size: 1.5em;
  font-weight: bold;
}
/*Radio*/

.radio {
  display: none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel,
#four:checked ~ .panels #four-panel,
#five:checked ~ .panels #five-panel,
#six:checked ~ .panels #six-panel,
#seven:checked ~ .panels #seven-panel,
#eight:checked ~ .panels #eight-panel {
  display: block;
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab,
#four:checked
  ~ .tabs
  #four-tab
  #five:checked
  ~ .tabs
  #five-tab
  #six:checked
  ~ .tabs
  #six-tab
  #seven:checked
  ~ .tabs
  #seven-tab
  #eight:checked
  ~ .tabs
  #eight-tab {
  background: #fffffff6;
  color: black;
  border-top: 3px solid #000;
}

#one-panel,
#two-panel,
#three-panel,
#four-panel,
#five-panel,
#six-panel,
#seven-panel,
#eight-panel {
  /* background: linear-gradient(to right, rgb(101, 153, 153), rgb(140 70 130)); */
  background-color: #1b1f23;
}
/*end*/

/* Contact me */

form {
  max-width: 420px;
  margin: 50px auto;
}

.feedback-input {
  backdrop-filter: sepia(1);
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  border: 2px solid #000000;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  color: #000;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
  color: #000;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #000000;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
  box-shadow: 0px 12px 25px 2px rgb(255 255 255);
}
[type="submit"]:hover {
  background: #2d366a;
}
/* End Contact me */

/*footer*/

* {
  box-sizing: border-box;
}

.footer-links {
  background-color: #131313;
  padding: 40px 0 30px;
}
.footer-links-social,
.footer-links-menu {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding-left: 0;
  width: 400px;
}
.footer-social-icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: rgb(85, 85, 85);
  border-radius: 50%;
}
.footer-social-icon:hover {
  background-color: #000;
  cursor: pointer;
}
.footer-social-icon a {
  color: #fff;
  text-decoration: none;
}
.footer-links-menu a {
  color: #9b9b9b;
  text-decoration: none;
}
.footer-links-menu a:hover {
  color: #fff;
}
.footer-links-menu li {
  font-size: 13px;
  margin-top: 10px;
  padding: 5px;
}
.footer-legal {
  background-color: #000;
  padding: 20px 0;
  font-size: 13px;
  color: #fff;
  text-align: center;
}

.footer-heart {
  color: rgb(255, 38, 0);
}

/*end footer*/

/*start  my skils  */

.my-skils {
  padding-bottom: 30px;
  margin-left: 33rem;
}
.my-skils .skils,
.my-skils .progresse {
  width: 65%;
  float: left;
}

.my-skils .skils h4 {
  color: #666;
}
.my-skils .skils p {
  padding-bottom: 30px;
  padding-top: 30px;
  margin: 0 0 10px 40px;
  line-height: 1.6;
  color: #666;
}

.my-skils .progresse .my-spesialite {
  margin-left: 50px;
}
.my-skils .progresse .my-spesialite h4 {
  margin-top: 20px;
  color: rgb(0, 0, 0);
}
.my-skils .progresse .my-spesialite div {
  background-color: #d9d0d0;
  height: 25px;
  border-radius: 3px;
}
.my-skils .progresse .my-spesialite div span {
  background-color: goldenrod;
  height: 25px;
  display: block;
  color: aliceblue;
  line-height: 25px;
  text-align: right;
}
.html {
  width: 15%;
}
.css {
  width: 10%;
}
.javascript {
  width: 5%;
}
.php {
  width: 3%;
}
.bootstrap {
  width: 8%;
}

/*end  my skils  */

.fab {
  color: #f77300;
  font-size: 1.6rem;
}
.fas {
  font-size: 1.6rem;
}

.captcha-image {
  width: 160px;
  height: 45px;
  border: 1px;
}

.captchaInput {
  color: #000;
}

.rowCap {
  display: flex;
  flex-direction: column;
  /* align-content: space-around; */
  /* justify-content: flex-end; */
  align-items: center;
}

.CapValide {
  display: flex;
  align-items: center;
  margin-top: 4%;
}

.elem-group {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
  margin-top: -2%;
}

.fa-redo {
  margin-top: 2%;
}
.skills-diagram {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  max-width: 35em;
  width: max-content;
  margin-left: -8%;
}

@media screen and (max-width: 1020px) {
  .skills-diagram {
    font-size: 15px;
    /* add vert space */
    margin-top: 3em;
  }
}

@media screen and (max-width: 650px) {
  .skills-diagram {
    font-size: 12px;
  }
}
@media screen and (max-width: 500px) {
  .skills-diagram {
    font-size: 10px;
  }
}
@media screen and (max-width: 400px) {
  .skills-diagram {
    font-size: 8px;
  }
}

@media screen and (max-width: 480px) {
  #footer {
    padding: 3em 1.5em 1em 1.5em;
  }
}

@media screen and (max-width: 480px) {
  #footer {
    padding: 2.5em 1em 0.5em 1em;
  }
}

.skills-diagram .item {
  position: relative;
  color: rgb(151, 253, 151);
  display: inline-block;
  vertical-align: top;

  /* border-style: solid; */
  border-width: 2px;
  border-radius: 50%;

  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);

  box-shadow: inset 0 0 50px rgb(68, 52, 102);

  /* set defaults to skill-2 */
  width: 2em;
  height: 2em;
  line-height: 2em;
  opacity: 0.7;
}

.skills-diagram .item:hover {
  opacity: 1;
}

/* Support vertical mode */
.skills-diagram-vertical .item {
  display: block;
  /* .25em is an equivalent to inline-block's horizontal whitespace margin */
  margin: 0.25em auto;
}

/* Provide different sizes */
.skills-diagram .skill-1 {
  vertical-align: bottom;
  width: 4em;
  height: 4em;
  line-height: 4em;
  /* background-color: rgba(201, 155, 129); */
  border-color: #85e89d;
  left: 1.33em;
  top: 2.66em;
}
.skills-diagram .skill-2 {
  width: 4em;
  height: 4em;
  line-height: 4em;
  left: 1.5em;
  top: 5.33em;
  /* background-color: rgba(201, 155, 129); */
  border-color: #83c2b1;
}

.skills-diagram .skill-3 {
  vertical-align: bottom;
  width: 7em;
  height: 7em;
  line-height: 7em;
  /* background-color: rgba(138, 138, 140); */
  border-color: #dedc7c;
  top: 4.6em;
  left: 0.16em;
  z-index: 1;
}
.skills-diagram .skill-4 {
  width: 10em;
  height: 10em;
  line-height: 10em;
  /* background-color: rgba(234, 112, 97); */
  border-color: #cb7c75;
  top: 2.67em;
}
.skills-diagram .skill-5 {
  /* vertical-align: top; */
  width: 5em;
  height: 5em;
  line-height: 5em;
  /* background-color: rgba(109, 182, 173); */
  border-color: #ee677f;
  left: -16em;
  top: 2em;
}
.skills-diagram .skill-6 {
  width: 3em;
  height: 3em;
  line-height: 3em;
  border-color: #ef934e;
  left: -14.66em;
  top: 0em;
}
.skills-diagram .skill-7 {
  vertical-align: bottom;
  width: 5em;
  height: 5em;
  line-height: 5em;
  /* background-color: rgba(214, 89, 102); */
  border-color: #ce9a84;
}
.skills-diagram .skill-8 {
  vertical-align: bottom;
  width: 9em;
  height: 9em;
  line-height: 9em;
  /* background-color: rgba(46, 138, 75); */
  border-color: #f4eedd;
  top: 3.33em;
}
.skills-diagram .skill-9 {
  width: 10em;
  height: 10em;
  line-height: 10em;
  /* background-color: rgba(177, 18, 2); */
  border-color: #1581a1;
  left: -2em;
}
.skills-diagram .skill-10 {
  vertical-align: bottom;
  width: 7em;
  height: 7em;
  line-height: 7em;
  /* background-color: rgba(81, 112, 144); */
  border-color: rgba(81, 112, 144, 1);
  left: -2em;
  top: 0px;
  font-size: 1em;
}

/* Just to add real-scenario feeling */

/* FLOATING */

.skills-diagram .item {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.skills-diagram .item:nth-child(even) {
  animation-duration: 4s;
}

/* used in skills section */
@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}

.sec2h1 {
  margin-bottom: 6rem;
}

.sec2h1color {
  color: white;
  margin-top: -23px !important;
  margin-left: -24%;
}

#msg {
  color: red;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  /* header {
    display: none;
  } */

  header {
    text-align: center;
    color: #fff;
    background-attachment: fixed;
    background-image: url("https://images.unsplash.com/photo-1557264322-b44d383a2906?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-position: center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  header .intro-text .intro-heading {
    width: 350px;
    position: relative;
    top: 30%;
    left: 50%;
    left: 0rem;
    top: 6rem;
    margin-bottom: 33px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    color: #92a5de;
    text-shadow: 0px 0px 0 #ffffff, 1px 1px 0 #ffffff, 2px 2px 0 #ffffff,
      3px 3px 0 #6f82bb, 4px 4px 0 #677ab3, 5px 5px 0 #5e71aa, 6px 6px 0 #5568a1,
      7px 7px 0 #4c5f98, 8px 8px 0 #445790, 9px 9px 0 #3b4e87,
      10px 10px 0 #32457e, 11px 11px 0 #2a3d76, 12px 12px 0 #21346d,
      13px 13px 0 #182b64, 14px 14px 0 #0f225b, 15px 15px 0 #071a53,
      16px 16px 0 #02114a, 17px 17px 0 #0b0841, 18px 18px 0 #130039,
      19px 19px 0 #1c0930, 20px 20px 0 #251227, 21px 21px 20px rgb(0 0 0),
      21px 21px 1px rgb(0 0 0 / 50%), 0px 0px 20px rgb(0 0 0 / 20%);
    color: #ffffff;
  }
  #mobileImg {
    width: 11rem;
    height: 12rem;
  }
  .centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 122px;
  }

  .modal {
    top: 10% !important;
  }

  .modal-body {
    top: 10% !important;
    padding: 0 !important;
  }
  .modal_titre {
    word-break: break-all;
  }
  #arrow {
    display: none;
  }
  form {
    max-width: 311px;
    margin: 50px auto;
  }

  @media (min-width: 768px) {
    header .intro-text {
      padding-top: 0;
      padding-bottom: 0;
    }

    header .intro-text .intro-heading {
      margin-bottom: 50px;
      text-transform: uppercase;
      font-family: math;
      font-size: 75px;
      font-weight: 700;
      line-height: 75px;
    }
  }

  .card {
    margin-left: 22%;
  }
  .footer-links-menu {
    width: 346px;
  }
}

@media screen and (min-width: 414px) and (max-width: 896px) {
  .card {
    margin-left: 10%;
  }
}
@media screen and (min-width: 390px) and (max-width: 896px) {
  .card {
    margin-left: 12%;
  }
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
}
.preloader .loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font: 14px arial;
}

.fixed-button {
  background-color: #ff2434;
  color: #ffffff;
  border: none;
  outline: none;
  position: fixed;
  bottom: 0px;
  right: 15px;
  height: 30px;
  width: 30px;
  margin-bottom: 20px;
  border-radius: 30px;
  box-shadow: 1px 3px 5px #888888;
}

.modalaboutme {
  margin-top: 0%;
  margin-left: 34%;
  font-size: 22px;
  text-decoration: none !important;
}

.container > .navbar-header {
  margin-right: 8px !important;
}

.navbar navbar-default navbar-fixed-top navbar-shrink {
  width: 1rem !important;
}

.arrowpagedown {
  display: flex;
  justify-content: center;
}
