.bord {
  border: groove;
  margin: 0.5rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;

  flex-direction: column;
}

.delt {
  display: flex;
  justify-content: center;
  width: 100%;
  justify-content: space-between;
}

p {
  display: flex;
  justify-content: center;
}
